.InstrumentContainer {
    background-color: #dddddd;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.InstrumentHeader {
    background-color: #dd5555;
    color: #ffffff;
    text-align: left;
    flex: 1;
}

.InstrumentLabel {
    margin: 15px;
}

.InstrumentKeyboard {
    flex: 3;
}