.InstrumentContainer {
    background-color: #dddddd;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.InstrumentHeader {
    background-color: #dd5555;
    color: #ffffff;
    text-align: left;
    flex: 1;
    padding-left: 10px;
}

.InstrumentKeyboard {
    flex-grow: 1;
    flex: 2;
}