.UnitContainer {
    background-color: #dddddd;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.UnitHeader {
    background-color: #dd5555;
    color: #ffffff;
    text-align: left;
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.UnitHeaderSeparator {
    flex-grow: 1;
}

.UnitLabel {
    margin: 15px;
}

.UnitKeyboard {
    flex: 3;
}