.AddRackButtonContainer {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
}

.AddRackButtonBorder {
    border: 5px dashed #555555;
    margin: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 100ms;
}

.AddRackButtonBorder:hover {
    background-color: rgba(255, 255, 255, .1);
    border: 5px dashed #aaaaaa;
}

.AddRackButtonText {
    font-size: 80px;
    color: #555555;
}

.AddRackButtonBorder:hover .AddRackButtonText {
    color: #aaaaaa;
}