.KeyboardContainer {
    height: 100%;
    overflow-x: scroll;
    position: relative;
}

.KeyboardWhiteKeysContainer,
.KeyboardBlackKeysContainer {
    display: flex;
    flex-direction: row;
}

.KeyboardWhiteKeysContainer {
    height: 100%;
    position: absolute;
    top: 0;
}

.KeyboardBlackKeysContainer {
    height: 60%;
    position: absolute;
    top: 0;
    margin-left: 15px;
}

.KeyboardWhiteKey {
    flex: 0 0 30px;
    display: flex;
    align-items: flex-end;
    background-color: white;
    color: #aaaaaa;
    height: 100%;
    border: 1px solid #dddddd;
    justify-content: center;
    box-sizing: border-box;

    font-size: 12px;

    cursor: default;
    user-select: none;
}

.KeyboardWhiteKey--Pressed {
    background-color: #eeeeee;
}

.KeyboardBlackKey {
    flex: 0 0 20px;

    margin: 0 5px;

    display: flex;
    align-items: flex-end;
    background-color: black;
    color: #444444;
    height: 100%;
    border: 1px solid #111111;
    justify-content: center;
    box-sizing: border-box;

    font-size: 10px;

    cursor: default;
}

.KeyboardBlackKey--Pressed {
    background-color: #333333;
}

.KeyboardBlackKey__Hidden {
    flex: 0 0 20px;

    margin: 0 5px;

    display: flex;
    align-items: flex-end;
    background-color: black;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;

    font-size: 12px;

    opacity: 0;

    cursor: default;
}