.WavyBackgroundPath {
    stroke-dasharray: 50px;
    animation: dash-dance 5s infinite linear;
    stroke: rgb(212, 85, 39);
}

@keyframes dash-dance {
    0% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 100px;
    }
  }