body {
    background-color: #222222;
}

button {
    background-color: transparent;
    border-color: transparent;
    outline-width: 0;
}

.AppContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    background-color: #555555;
}

.GraphEditorContainer {
    flex: 3;
}

.KeyboardContainer {
    flex: 1;
}